@model List<Employee> 
@{
}

<h2 class=" text-center mb-5">List Of Employees</h2>

<div class="container">
    <form asp-action="Create" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add Employee</button>
        </div>
    </form>
</div>


<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Email</td>
                <td>@employee.Salary.ToString("C")</td> <!-- Format salary as currency -->
                <td>
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


